@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);

#id{
    font-size: 8000 px;
    font-family: "Gideon Roman", cursive;
    text-align: center;
  }
.snooze-section {
    margin: auto;
    height: 30em;
    background-image: url(../img/SL-072620-33020-24.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:black;
    font-size: 1.25rem;
    font-family: "Gideon Roman", cursive;
  }
  .snooze-section h4{
    font-family: "Gideon Roman", cursive;
  }
  .snooze-header{
    margin: 0px auto;
    text-align: center;
  }
.Form{
        padding: 5px 20px;
}
    
.Form fieldset {
        margin: 20px 0;
    }
h1.Form{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
